.preflightBed {
  background-image: url('../../assets/images/backgroundTile.png');
  background-size: 200px;
  background-repeat: repeat;
  padding-bottom: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.preflightDetailsBed {
  background: rgb(48, 48, 139);
  color: #ffff;
  border-radius: 7px;
  width: 300px;
  text-align: center;
  margin-top: 10px;
}

.preflightItemBed {
  background: rgb(64, 64, 156);
  color: #ffff;
  margin: 5px 0 5px 0;
}

.preflightLabel {
  font-size: 1.4rem;
  padding: 8px 0 4px 0;
  font-weight: 900;
}

.preflightEditBtnBed {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.preflightEditBtn {
  display: flex;
  background: rgb(235, 189, 4);
  padding: 10px;
  cursor: pointer;
}

.preflightEditBtnText {
  color: rgb(48, 48, 139);
  font-size: 1rem;
  font-weight: 500;
  padding-right: 10px;
}

.preflughtEditBtnIcon {
  height: 12px;
  margin-top: 3px;
}

.preflightToPayButtonBed {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px;
}
.preflightToPayButton {
  background: #000055ff;
  cursor: pointer;
}

.preflightToPayButtonText {
  color: rgb(235, 189, 4);
  padding: 15px;
}
