.cartMainBed {
  background-image: url('../../assets/images/backgroundTile.png');
  background-size: 200px;
  background-repeat: repeat;
  padding-bottom: 15px;
  text-align: center;
}

.cartSubBed {
  margin-top: 15px;
}

.headingImage {
  height: 45px;
}

.cartBeb {
  display: flex;
  justify-content: center;
  margin: 5px 0 5px;
}

.cartContainer {
  background: rgb(64, 64, 156);
  border: 10px solid #000055ff;
  border-radius: 15px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.cartItembed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartItemQuantity {
  color: #ffff;
  align-self: center;
  padding-right: 10px;
}

.cartItemImage {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ointmentCartImage {
  width: 60px;
}
.comboCartImage {
  width: 60px;
}
.oilCartImage {
  height: 60px;
}

.cartSubBed {
  padding: 5px;
}

.cartItemDescription {
  color: #ffff;
  border-radius: 3px;
  width: 130px;
  font-size: 0.9rem;
  padding: 5px;
}

.cartItemPrice {
  color: #ffff;
  padding: 5px;
}

.cartItemQuantityToggle {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cartAddRemoveButton {
  width: 20px;
  cursor: pointer;
}

.shippingChargebed {
  display: flex;
  justify-content: center;
}
.shippingCargeContainer {
  background: rgb(64, 64, 156);
  border: 10px solid #000055ff;
  border-radius: 15px;
  color: #ffff;
  font-size: 1.2rem;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.cartTotalbed {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.cartTotalContainer {
  background: rgb(64, 64, 156);
  border: 10px solid #000055ff;
  border-radius: 15px;
  color: #ffff;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 900;
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.checkoutButtonBed {
  background: rgb(235, 189, 4);
  cursor: pointer;
}
.checkoutButtonContainer {
  padding: 8px 10px 0 10px;
  display: flex;
}
.checkoutButtonText {
  color: #000055ff;
  font-size: 1rem;
  font-weight: 300;
}
.checkoutArrowRight {
  height: 12px;
  margin: 4px 0 0 6px;
}
.cartEmptyImageBed {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.cartEmptyImage {
  width: 300px;
}

.cartEmptyButtonContainer {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.cartEmptyButton {
  background-color: #000055ff;
  cursor: pointer;
}
.cartEmptyButtonText {
  color: rgb(235, 189, 4);
  padding: 10px;
}
