.burgerMenuModalBed {
  display: flex;
  justify-content: center;
}

.burgerMenumodalContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.burgerMenuLinkButton {
  background-color: #d4aa00ff;
  border-radius: 30px;
  margin: 5px 0 5px;
}

.burgerMenuLinkButtonText {
  color: #000055ff;
  padding: 15px;
  font-size: 1.3rem;
}
