.headerBed {
  background: #000055ff;
  height: 83px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.headerLogo {
  margin-left: 50px;
  padding-top: 7px;
  width: 200px;
}

.emailHeaderBed {
  border: 1px solid #d4aa00ff;
  border-radius: 35px;
  margin-bottom: 20px;
}
.emailHeaderContainer {
  display: flex;
  padding: 10px;
}

.emailHeader {
  color: #d4aa00ff;
  font-size: 1.2rem;
}

.emailHeaderIcon {
  padding-left: 10px;
  margin-top: 3px;
  height: 15px;
  cursor: pointer;
}

.headerLinkText {
  color: #d4aa00ff;
  font-size: 1.1rem;
  padding-top: 7px;
}
.headerLinkText:hover {
  color: rgba(212, 170, 0, 0.753);
}

.animatedHeaderBannerBed {
  background: rgba(255, 255, 255, 0.555);
  padding: 5px 0 27px;
  display: flex;
  justify-content: center;
}

.animatedHeaderBanner {
  color: #000055ff;
  font-size: 1.2rem;
  position: absolute;
  will-change: opacity;
}

@media screen and (max-width: 845px) {
  .emailHeaderBed {
    display: none;
  }
  .animatedHeaderBanner {
    font-size: 0.8rem;
  }
  .animatedHeaderBannerBed {
    padding: 2px 0 20px;
    display: flex;
    justify-content: center;
  }
}
