.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 85, 0.774);
}

.modalBox {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
  overflow-y: auto;
  z-index: 101;
  padding: 40px;
}

.modalCloseXBed {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 50px;
}
.modalCloseX {
  width: 30px;
  cursor: pointer;
}
