.headerNavLinksBed {
  display: flex;
  flex-basis: 25%;
  padding-top: 7px;
}
.headerNavLinksContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.burgerMenuBed {
  display: none;
}

.shoppingBagLink {
  display: flex;
}

.shoppoingBagItemCount {
  padding: 2px;
  color: #d4aa00ff;
}

.shoppingBagIcon {
  height: 30px;
  margin-right: 5=0px;
  padding-left: 3px;
}

@media screen and (max-width: 845px) {
  .headerNavLinksContainer {
    display: none;
  }
  .burgerMenuBed {
    display: unset;
    cursor: pointer;
    padding-left: 15px;
  }
}
